<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capa_Datos.Properties.Settings.BD_BoleteriaCineConnectionString"
            connectionString="Data Source=MARCUS;Initial Catalog=BD_BoleteriaCine;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Capa_Datos.Properties.Settings.BoleteriaPmConnectionString"
            connectionString="Data Source=BoleteriaPm.mssql.somee.com;Initial Catalog=BoleteriaPm;Persist Security Info=True;User ID=marcusanick_SQLLogin_1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>