<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capa_Datos.Properties.Settings.BD_BoleteriaCineConnectionString"
            connectionString="Data Source=MARCUS;Initial Catalog=BD_BoleteriaCine;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>